@import "tailwindcss";

* {
    scroll-behavior: smooth;
  }
  
body {
    font-family: 'Arial', sans-serif;
  }
  .typed-cursor {
    display: none;
  }
  
  .typed-text::after {
    content: "|";  
    font-weight: bold;
    font-size: 1.2em;
    color: #0a850d; 
    animation: blink 0.7s infinite alternate;
  }
  
  @keyframes blink {
    from { opacity: 1; }
    to { opacity: 0; }
  }
  
  button {
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
  
  button:hover {
    transform: scale(1.05);
  }
  
  .slideshow img {
    transition: opacity 0.8s ease-in-out;
  }
  
  .section {
    padding: 40px 20px;
  }
  .testimonial-card {
    @apply bg-white shadow-md rounded-lg p-6 m-4;
  }
  
  .testimonial-card img {
    @apply w-16 h-16 rounded-full object-cover;
  }
  
  .testimonial-card h3 {
    @apply text-xl font-semibold text-gray-800;
  }
  
  .testimonial-card p {
    @apply text-gray-600
  }
 
  @media (max-width: 768px) {
    h1 {
      font-size: 2.5rem;
    }
  }
  